.heading{
    font-size:100px;
    font-style:italic;
    text-align:center;
}
#mainimg{
    margin-bottom: 30px;
    margin-top:30px;
}
.navi{
    font-style:bold;
    font-size:55px;
    text-align:center;
    margin-bottom: 100px;
    margin-right: 20px;
    text-decoration: none;
    color:white;
    background-color:black;

}
h2{
    text-align:left;
}
p{
    text-align:left;
}

